@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "./keyframes.scss";

body:fullscreen {
  overflow: scroll !important;
}
body:-ms-fullscreen {
  overflow: scroll !important;
}
body:-webkit-full-screen {
  overflow: scroll !important;
}
body:-moz-full-screen {
  overflow: scroll !important;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  background-color: #0C0E12;
}

// select {
//   option {
//     color: #EAECEF !important;
//     background-color: #0C0E11 !important;
//   }
// }

#swiperContainerTestimonials {
  padding-top: 52px !important;
  min-height: fit-content !important;
}

.round-top-on-entry,
.round-bottom-on-entry {
  -webkit-transition: border-radius 0.5s 0.25s;
  transition: border-radius 0.5s 0.25s;
  border: 1px solid transparent !important;
}

.rounded-border-top {
  border-top-right-radius: 70px;
  border-top-left-radius: 70px;
}

.rounded-border-bottom {
  border-bottom-right-radius: 70px;
  border-bottom-left-radius: 70px;
}

.hidden-section {
  &.section-header,
  &.service-card {
    opacity: 0;
  }
}

.show-section {
  &.service-card,
  &.employee-card {
    will-change: transform !important;
  }

  &.project-card {
    will-change: transform !important;

    .project-card-info,
    .project-card-title,
    .project-card-img {
      will-change: transform !important;
    }
  }

  &.section-header {
    animation: FadeIn 0.15s 0.25s linear both;
  }

  &.service-card {
    &:nth-child(odd) {
      animation: FadeIn 0.15s linear both, SlideInFromLeft 0.5s linear both,
        BounceInFromLeft 0.5s linear both;
    }
    &:nth-child(even) {
      animation: FadeIn 0.15s linear both, SlideInFromRight 0.5s linear both,
        BounceInFromRight 0.5s linear both;
    }

    @for $i from 1 through 8 {
      &:nth-child(#{$i}n) {
        animation-delay: #{$i * 0.1 + 0.2}s !important;
      }
    }
  }

  &.project-card {
    &:nth-child(odd) {
      .project-card-info {
        animation: FadeIn 0.2s 0.75s linear both,
          SlideInFromLeft 0.5s 0.75s linear both;
      }
    }
    &:nth-child(even) {
      .project-card-info {
        animation: FadeIn 0.2s 0.75s linear both,
          SlideInFromRight 0.5s 0.75s linear both;
      }
    }

    .project-card-title {
      animation: FadeIn 0.2s 0.25s linear both,
        SlideInFromTop 0.5s 0.25s linear both,
        BounceInFromTop 0.25s 0.25s linear both;
    }

    .project-card-img {
      animation: FadeIn 0.2s 0.5s linear both;
    }
  }

  &.employee-card {
    animation: FadeIn 0.25s 1s linear both,
      SlideInFromBottom 0.35s 1s linear both;

    @for $i from 1 through 10 {
      &:nth-child(#{$i}n) {
        animation-delay: #{$i * 0.1 + 0.3}s !important;
      }
    }
  }
}

.avatar-wobble {
  border-radius: 250px 750px 250px 750px / 750px 250px 750px 250px;
  animation: wobble 10s ease-in-out alternate both infinite;
}

@keyframes wobble {
  50% {
    border-radius: 750px 550px 350px 750px / 350px 750px 550px 450px;
  }
  100% {
    border-radius: 750px 250px 750px 250px / 250px 750px 250px 750px;
  }
}

@media (min-width: 768px) {
  .rounded-border-top {
    border-top-right-radius: 140px;
    border-top-left-radius: 140px;
  }

  .rounded-border-bottom {
    border-bottom-right-radius: 140px;
    border-bottom-left-radius: 140px;
  }
}

@media (min-width: 1025px) {
  .show-section {
    &.service-card {
      animation: FadeIn 0.25s linear both, SlideInFromLeft 0.5s linear both !important;

      @for $i from 1 through 8 {
        &:nth-child(#{$i}n) {
          animation-delay: #{$i * 0.1 + 0.5}s !important;
        }
      }
    }
  }
}
