@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./keyframes.scss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", "Helvetica", "Arial", sans-serif;
  background-color: white;
}

.hidden-section {
  &.section-header,
  &.service-card {
    opacity: 0;
  }
}

.show-section {
  &.section-header {
    animation: FadeIn 0.25s 0.25s linear both;
  }

  &.service-card {
    &:nth-child(odd) {
      animation: FadeIn 0.25s linear both, SlideInFromLeft 0.5s linear both,
        BounceInFromLeft 0.5s linear both;
    }
    &:nth-child(even) {
      animation: FadeIn 0.25s linear both, SlideInFromRight 0.5s linear both,
        BounceInFromRight 0.5s linear both;
    }

    @for $i from 1 through 5 {
      &:nth-child(#{$i}n) {
        animation-delay: #{$i * 0.1 + 1}s !important;
      }
    }
  }

  &.project-card {
    &:nth-child(odd) {
      animation: FadeIn 0.25s linear both, SlideInFromLeft 0.5s linear both;
    }
    &:nth-child(even) {
      animation: FadeIn 0.25s linear both, SlideInFromRight 0.5s linear both;
    }

    @for $i from 1 through 5 {
      &:nth-child(#{$i}n) {
        animation-delay: #{$i * 0.1 + 0.3}s !important;
      }
    }
  }
}

@media (min-width: 1025px) {
  .show-section {
    &.service-card {
      animation: FadeIn 0.25s linear both, SlideInFromLeft 0.5s linear both !important;

      @for $i from 1 through 5 {
        &:nth-child(#{$i}n) {
          animation-delay: #{$i * 0.1 + 0.5}s !important;
        }
      }
    }

    &.project-card {
      animation: FadeIn 0.5s 1s linear both,
      SlideInFromBottom 0.5s 1s linear both !important;
    }
  }
}
