@keyframes RoundedTopBorderMobile {
  from {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  to {
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
  }
}

@keyframes RoundedBottomBorderMobile {
  from {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  to {
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
  }
}

@keyframes RoundedTopBorderDesktop {
  from {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  to {
    border-top-left-radius: 140px;
    border-top-right-radius: 140px;
  }
}

@keyframes RoundedBottomBorderDesktop {
  from {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  to {
    border-bottom-left-radius: 140px;
    border-bottom-right-radius: 140px;
  }
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes SlideInFromTop {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes SlideInFromBottom {
  from {
    transform: translateY(10%);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes SlideInFromBottomFull {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes SlideInFromLeft {
  from {
    transform: translateX(-30px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes SlideInFromRight {
  from {
    transform: translateX(30px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes BounceInFromTop {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(30px);
  }
}

@keyframes BounceInFromBottom {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
}

@keyframes BounceInFromLeft {
  0%,
  100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(30px);
  }
}

@keyframes BounceInFromRight {
  0%,
  100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-30px);
  }
}